/* $Id: admin.css,v 1.1.2.3 2009/04/21 10:56:23 jmburnz Exp $ */

/**
 * @file admin.css
 * Basic styles for admin sections.
 */

/**********************************************************
 *                     Admin
 **********************************************************/
/**
 * <body> class to target most admin pages.
 */
.section-admin {}

/**
 * Admin panels.
 */
.admin-panel {
  background: #EEE;
  border: 1px solid #CCC;
  margin: 0 0 0.5em;
  padding: 0;
}

.admin-panel h3 {
  color: #222;
  float: left;
  padding: 1em 0 0 1em;
  width: 13.3333em;
}

.admin-panel .body {
  background: #FFF;
  margin: 0 0 0 13.3333em;
  padding: 0 1em;
}

.admin-panel p  {
  margin: 0; 
  padding: 1em 0 0;
}

.admin-panel ul {
  margin: 0; 
  padding: 1em 0;
}

.admin-panel ul li {
  list-style: none; 
  padding: 0 0 0.6em;
}

.admin-panel dl {
  margin: 0; 
  padding: 1em 0;
}

.admin-panel dt {
  float: left; 
  font-weight: normal;
}

.admin-panel dd {
  color: #888; 
  font-size: 0.94em;
  margin: 0 0 0 14em;
  padding: 0 0 0.75em;	
}

.admin .compact-link {
  margin: 0 0 1em;
}

.page-admin-by-module .admin h3 {
  float: none;
  padding: 1em;
}

.page-admin-by-module .admin .left {
  float: left;
  width: 49%;
}

.page-admin-by-module .admin .right {
  float: right;
  margin: 0;
  width: 49%;
}

.page-admin-by-module .admin-panel .body {
  margin: 0;
}

.page-admin-by-module .admin-panel .body p {  
  color: #888; 
  font-size: 0.94em; 
}

.page-admin-by-module .admin-panel .item-list ul li {
  margin: 0;
}

/* Misc */
#user-admin-filter ul li,
#node-admin-filter ul li {
  list-style: none;
}

.more-help-link {
  font-size: 0.94em;	
  line-height: 1.667em;
}

#permissions td.permission {
  padding-left:0.5em;
}
#permissions td.module {
  background: #EEE; 
  color: #222; 
  font-weight: bold;
}

/**********************************************************
 *                 Local tasks tabs
 **********************************************************/
.local-tasks {
  margin-bottom: 0.75em;
}

ul.primary {
  border-bottom-color: #CCC;
  margin: 1.5em 0 0 0; 
  padding: 0 0 0.2em 1em;
}

ul.primary li a {
  background-color: #EEE;
  border-color: #CCC;
  padding: 0.1em 0.75em 0.2em;
}

.local-tasks ul.primary li a:hover  {
  background-color: #F5F5F5;
  border-color: #DDD;
}

.local-tasks ul.primary li.active a {
  background-color: #FFF;		
  border-bottom-color: #FFF;
}

ul.secondary {
  border-bottom: 1px solid #BBB;
  margin: 0 0 1em;
  padding: 1em 0;
}

ul.secondary li {
  border-right: none;
  padding:0 0.75em;
}

ul.secondary a:hover,
ul.secondary a.active {
  border-bottom: none;
  text-decoration: underline;
}

/**********************************************************
 *                 Admin menu
 **********************************************************/
/* Bump the font size by 2 pixels, I can't read 9px text! */
#admin-menu {font-size: 11px;}



