/* $Id: blocks.css,v 1.1.2.12 2009/05/11 20:28:34 jmburnz Exp $ */

/**
 * @file blocks.css
 * Basic styles for blocks.
 */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-contentwill be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

.block-inner   {} /* Block inner div */
.block-title   {} /* h2 block title */
.block-content {} /* Block content wrapper */

/**
 * Sidebar and Region Specific Block Styles
 *
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

/* High specifity selectors to style blocks in one region. */
#leaderboard       .block {}
#header-blocks     .block {}
#secondary-content .block {}
#tertiary-content  .block {}
#content-top       .block {}
#content           .block {}
#content-bottom    .block {}
#footer            .block {}

/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
#block-book-0       {} /* Book navigation block   */
#block-blog-0       {} /* Recent Blog posts       */
#block-comment-0    {} /* Recent Comments block   */
#block-forum-0      {} /* Active Forum topics     */
#block-forum-1      {} /* New Forum topics        */
#block-locale-0     {} /* Language Switcher block */
#block-node-0       {} /* Syndicate block         */
#block-poll-0       {} /* Most recent poll        */
#block-profile-0    {} /* Author information      */
#block-search-0     {} /* Search form block       */
#block-statistics-0 {} /* Popular content         */
#block-system-0     {} /* Powered by Drupal       */
#block-user-0       {} /* Login block             */
#block-user-1       {} /* Navigation Menu block   */
#block-user-2       {} /* Who's New block         */
#block-user-3       {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-primary-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu {
  margin: 0 0 0 0.5em;
  padding: 0;
}

ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
  margin: 0;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
}

/* Override Drupal default bullet gifs with a CSS Sprite */
ul.menu li {
  background: none;
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0.35em 0 0 1em; /* LTR */
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {
  background: transparent url(../images/menu-sprite.png) no-repeat;
}

ul.menu li.collapsed {
  background-position: 0 -45px; /* LTR */
}

ul.menu li.expanded {
  background-position: -43px -84px; /* LTR */
}

ul.menu li.leaf {
  background-position: 0 0; /* LTR */
}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block lists
 **********************************************************/
.block .item-list ul {
  margin: 0;
}
.block .item-list ul li {}


