/* $Id: comments.css,v 1.1.2.7 2009/05/03 22:24:39 jmburnz Exp $ */

/**
 * @file comments.css
 * Basic styles for comments.
 */

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comments {}
#comments-title {}
	
.comment {
  margin: 0 0 1em;
}

/* Inner wrapper div for comments. */
.comment-inner {}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment-title {}

.comment-id {}
.comment-title .new {
  color: #FF8000;
}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {}
.comment .user-picture img {}

.comment-submitted {}
.comment-submitted a {}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {}

.comment .links {
  text-align: right; /* LTR */
  clear: both;
}

/* Comment author. */
.comment-by-anonymous   {}
.comment-by-node-author {}
.comment-by-viewer      {}

/* Comment is new. */
.comment-new {}

/* Comment status. */
.comment-unpublished {}

/* Zebra styles for comments. See genesis_preprocess_comment.
.comment.odd  {}
.comment.even {}
*/

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box-title {}

/* Comment form below content. */
#comments .box {}
#comments .box-inner {}
#comments .box-title {}
