/* $Id: nodes.css,v 1.1.2.5 2009/04/28 00:05:15 jmburnz Exp $ */

/**
 * @file nodes.css
 * Basic styles for nodes.
 */

/**********************************************************
 *                      Nodes
 **********************************************************/
.node {
  margin: 0 0 1.5em;
}

/* Over-ride default .inner styles. */
.node-inner {}

/* Node title on teasers and other lists. */
.node-title {}

.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

.node-title a:hover {
  text-decoration: underline;
}

.node .user-picture {
  float: left;
  margin: 0.3em 1em 0.1em 0;
}

.node-submitted {}
.node-submitted a {}
.node-submitted a:hover {}

/* Node content wrapper. */
.node-content {}

/* Node taxonomy terms. */
.node-terms {}

/* Node links. */
.node-links {
  display: block; 
  text-align: right;
}

/* Node classes for node workflow states. */
.node-add    {}
.node-edit   {}
.node-delete {}
.node-preview  {}
.node-sticky   {}
.node-promoted {}

/* Node status. */
.node-unpublished {}

/* Theme the node teaser seperatly. */
.node-teaser {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-blog  {}
.node-page  {}
.node-story {}
.node-forum {}
.node-book  {}
.node-poll  {}

/* Clear the user picture on Polls. */
.node-type-poll .node-content {clear: both;}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}


/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Imagefield field. */
.field-type-image {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float   {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}





