/* $Id: page.css,v 1.1.2.13 2009/05/08 09:36:13 jmburnz Exp $ */

/**
 * @file page.css
 * This stylesheet provides the page main styles for this theme.
 */

/**
 * Remove unused styles for performace.
 */


/**********************************************************
 *                      html, Body
 **********************************************************/
body {}


/**********************************************************
 *              Section, Page and Body Classes
 **********************************************************/
/**
 * Normally you will use these in combination with other
	* selectors. I include them here for completedness.
	*/
	
/** 
 * Section Class
 * The section class takes the 2nd part of the URL and
	* builds a section-[path-part] class from it. If you emulate
	* site sections using the Pathauto module this can be a 
	* powerful way to style site sections.
 */
/* .section-[path-part] {}  replace [path-part] */

/* Front or not front. */
.front {}
.not-front {}

/* Is the user logged in. */
.logged-in {}
.not-logged-in {}

/* Node type body classes. */
.node-type-book  {}
.node-type-blog  {}
.node-type-forum {}
.node-type-page  {}
.node-type-poll  {}
.node-type-story {}

/**
 * Warning! 
 * The sidebar body classes are integral to how genesis
 * applies the layout - do not add margin, padding, borders,
 * or positioning styles to these classes! @see layout.css. 
 */
.one-sidebar   {}
.two-sidebars  {}
.sidebar-right {}
.sidebar-left  {}

/** 
 * Optional Region body classes
	* When any of the following regions are active a body class can be set.
 * To use you need to uncomment the conditional statements in 
 * genesis_preprocess_page(), @see template.php.
 */
/*
.leaderboard       {}
.header-blocks     {}
.secondary-content {}
.tertiary-content  {}
.footer            {}
*/

/** 
 * Page Path Class
 * The page path class takes the entire URL and
	* builds a page-[path] class from it. See example
	* below. You need to use Firebug or view source to
	* find out what the actual class will be, and be aware
	* that this will change if your URL alias changes!
 */
/* .page-[example-node-path] {}  replace [example-node-path] */

	
/**********************************************************
 *                  The wrapper divs
 **********************************************************/
/**
 * Be careful how you modify these, see layout.css first.
 */
#container {}

/* Column wrappers */
#columns {}
#columns-inner {}

/* Content wrappers */
#content-column {}
#main-content {}
#content {}


/**********************************************************
 *                     Width Setting
 **********************************************************/
/**
 * Override the default width (80em - see layout.css).
 * 80 * 12 = 960px
 *
 * Genesis supports both Fluid and Fixed width values.
 *
 * Liquid layouts use %, e.g.
 * .width {width: 85%;}
 *
 * Fixed width layouts use em or px, e.g.
 * .width {width: 960px;}
 * .width {width: 80em;}
 */
.width {
  width: 100%;
/* max-width: 1100px; set a maximum width */
/* min-width: 960px; set a minimum width */
}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions with this low specifity selector. */
.region {}
.region-inner {}

/**
 * Most regions have an .inner div to set paddings or other
 * design contingencies.
 */
 
/* Leaderboard is a full width region at the very top, 
   ideal for displaying banners. */
#leaderboard {}

/* Header blocks region is embedded in the header, 
   usefull for displaying small banners. */
#header-blocks {}
#header-blocks .region-inner {}

/* Secondary content is a full width region between 
   the header and the main columns. */
#secondary-content {}
#secondary-content .region-inner {}

/* Tertiary content is a full width region above the footer, 
   below the main content. */
#tertiary-content {}
#tertiary-content .region-inner {}

/* Content top and bottom are above and below the main content, 
   within the main content column. */
#content-top {}
#content-bottom {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar-inner {}

/* Target a specific sidebar, inner or sidebar-inner. */
#sidebar-left {}
#sidebar-left .sidebar-inner {}

#sidebar-right {}
#sidebar-right .sidebar-inner {}


/**********************************************************
 *                   Skip navigation
 **********************************************************/
/**
 * To hide the skip-nav you can use:
 * height: 0; overflow: hidden;
 * Do not use display: none as this hides it from screen readers.
 */
#skip-nav {
  text-align: right;
}
#skip-nav a:focus {
  border: 1px solid #FFCC00;
		background: #FFFFCF;
}
#skip-nav a:link    {}
#skip-nav a:hover   {}
#skip-nav a:visited {}


/**********************************************************
 *                       Header 
 **********************************************************/

/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {}

/* Over-ride default .inner styles. */
#header .header-inner {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
  float: left;
}

/* Logo. */
#logo {}

/* h1 is for the front page only, all others use the div. */
h1#site-name,
div#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
}
div#site-name  {
  font-size: 2em;
  line-height: 1.5;
}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                        Search
 **********************************************************/
/* Float the serch box right. */
#search-box {
  float: right;
		padding: 1.5em 0;
}

/* Reset form element margins to allow more precise positioning. */
#search-box form,
#search-box div.form-item {
  margin: 0;
}

#search-theme-form {}

/* Target the first child div which has no selector */
#search-theme-form > div {}

#search-theme-form label {}
#search-theme-form input {}
#search-theme-form .form-item {}
#search-theme-form .form-submit {}

#edit-search-theme-form-1 {}

/* Override forms.css focus style */
#edit-search-theme-form-1:hover,
#edit-search-theme-form-1:focus {
  border: 1px solid #BBB;
		background: #FFF;
}

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}

/* Search form on the results page, includes advanced search. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/**
 * #nav is the containing div for Primary & Secondary Links.
 */
#nav {
  margin: 0.75em 0;
}

/**
 * Primary Links Positioning
 */
/* FLOAT PRIMARY RIGHT */
/* #primary .primary-inner {float: right;} */
/* ALIGN PRIMARY CENTER */
/* #primary .primary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Primary Links Style
 * Example styles to get you started.
 */
#primary {
  background: #DDD; /* Default gray for dev only. */
  font-weight: bold;
  padding: 0;
}

/* Modify the margin to position the menu. */
#primary .links {
  margin: 0;
}

/* Modify the margin to set tab spacings. We use display: inline only
   to make it easier to center the menu. */
#primary .links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#primary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#primary .links li.active {}

#primary .links li a:hover {}
#primary .links li a.active {}
#primary .links li a.visited {}
#primary .links li a.active-trail {}

/* Primary first and last classes */
#primary .links li.first {}
#primary .links li.last {}

/* Set unique active-trail styles */
/* #primary ul.links li a.active-trail {} */

/**
 * Secondary Links Positioning
 */
/* FLOAT SECONDARY RIGHT */
/* #secondary .secondary-inner {float: right;} */
/* ALIGN SECONDARY CENTER */
/* #secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Secondary Links Style
 */
#secondary {
  background: #EEE; /* Default silver for dev only. */
  font-weight: bold;
  padding: 0;
}

/* Modify the margin to position the menu. */
#secondary .links {
  margin: 0;
}

/* Modify the margin to set tab spacings. We use display: inline only
   to make it easier to center the menu. */
#secondary .links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#secondary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#secondary .links li.active {}

#secondary .links li a:hover  {}
#secondary .links li a.active {}
#secondary .links li a.visited {}
#secondary .links li a.active-trail {}

/* Secondary first and last classes */
#secondary .links li.first {}
#secondary .links li.last {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {
  padding: 0 0 0.75em;
}


/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  font-weight: bold;
  margin: 0 0 1.5em;
}


/**********************************************************
 *                    H1 Page Title
 **********************************************************/
/* The main title on each page. */
h1#page-title {}


/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
#foot-wrapper {
  margin: 0.375em 0;
}

#footer {}
#footer .region-inner {}

#footer-message {}

#footer a, 
#footer-message a {}


/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
.feed-icon {}
.feed-icon img {}
#footer-message a.feed-icon {}

