/* $Id: block-edit.css,v 1.1.2.2 2009/04/29 03:44:16 jmburnz Exp $ */

/**
 * @file block-edit.css
 * Style the block editing links.
 */

/***********************************************************
*                    Block Edit
**********************************************************/
/**
 * Edit links for blocks.
 */
div.block {
  position: relative;
}
div.block div.edit {
  font-size: 0.9em;
  padding: 2px;
		position: absolute;
		right: 0; /* LTR */
  top: 0;
  visibility: hidden;
		z-index: 40;
}
div.block:hover div.edit {
  display: block;
		visibility: visible;
}
div.block div.edit a {background-color: #EEE; padding: 3px 4px; text-decoration: none;}
div.block div.edit a:hover {background-color: #DDD;}
