/* $Id: edit-links.css,v 1.1.2.1 2009/04/29 20:32:09 jmburnz Exp $ */

/**
 * @file edit-links.css
 * Style edit links for blocks and views.
 */

/*********************************************************
*                      Edit Links
**********************************************************/
/**
 * Hover links for blocks.
 */
div.block {
  position: relative;
}
div.block div.block-edit {
  font-size: 0.9em;
		position: absolute;
		right: 0; /* LTR */
  top: 0;
  visibility: hidden;
		z-index: 40;
}
div.block:hover div.block-edit {
  display: block;
		visibility: visible;
}
div.block div.block-edit a {
		text-decoration: none;
		width: 5em;
		color: #ccc;
}
div.block div.block-edit a:before {
  content: "[";
}
div.block div.block-edit a:after {
  content: "]";
}
div.block div.block-edit a:hover {
  color: #000;
}
div.block div.block-edit li {
  display: inline;
  list-style: none; 
		margin: 0 0 0 0.25em;
}
/**
 * Hover links for Views.
 */
div.view div.views-admin-links {
  font-size: 0.85em;
}
.block div.view div.views-admin-links {
  margin-top: 1.8em;
}
#main-content div.view div.views-admin-links {
  margin-top: -0.8em;
}
div.view div.views-admin-links li a {
  text-decoration: none;
  width: 5em;
}
div.view div.views-admin-links li a:hover {
  color: #000;
}
div.view div.views-admin-links-hover a,
div.view div.views-admin-links:hover a {
  color: #CCC;
}