/* $Id: layout.css,v 1.1.2.2 2009/04/19 23:32:24 jmburnz Exp $ */

/**
 * @file layout.css
 * layout methods.
 */

/***********************************************************
 *                     The Layout Methods
 **********************************************************/
/**
 * USAGE						
 * Replace the body id="..." (in page.tpl.php) with the your 
 * preferred layout.
 * 
 * e.g. <body id="genesis_1">
 * 
 * If your site uses a page-front.tpl.php or any other page-xxx.tpl.php
 * your site can have multiple layouts.
 *
 * OVER RIDING THE WIDTHS AND MARGINS 
 * To over ride a layout copy the specific layout to your 
 * subthemes page.css file and make the necessary changes.
 */
 
/**
 * #genesis_1
 * Standard 3 col; left/content/right
 */
#genesis_1 .two-sidebars  #content-column {margin      : 0 20em; padding: 0 0.75em;}
#genesis_1 .sidebar-left  #content-column {margin-left :   20em; padding: 0 0 0 0.75em;}
#genesis_1 .sidebar-right #content-column {margin-right:   20em; padding: 0 0.75em 0 0;}

#genesis_1 #sidebar-left  {width: 20em; margin-left: -100%;}
#genesis_1 #sidebar-right {width: 20em; margin-left: -20em;}

/**
 * #genesis_2
 * Both sidebars on the right; content/left/right
 */
#genesis_2 .two-sidebars  #content-column {margin-right: 40em; padding: 0 0.75em 0 0;}
#genesis_2 .sidebar-left  #content-column {margin-right: 20em; padding: 0 0.75em 0 0;}
#genesis_2 .sidebar-right #content-column {margin-right: 20em; padding: 0 0.75em 0 0;}

#genesis_2 #sidebar-left  {width: 20em; margin-left: -40em;}
#genesis_2 #sidebar-right {width: 20em; margin-left: -20em;}

#genesis_2 .sidebar-left #sidebar-left {width:20em; margin-left: -20em;}

/**
 * #genesis_3 - percentage based layout only!
 * Both sidebars on the left; left/right/content
 */
#genesis_3 .two-sidebars  #content-column {margin-left: 50%; padding: 0 0.75em 0 0;}
#genesis_3 .sidebar-left  #content-column {margin-left: 25%; padding: 0 0.75em 0 0;}
#genesis_3 .sidebar-right #content-column {margin-left: 25%; padding: 0 0.75em 0 0;}

#genesis_3 #sidebar-left  {width: 25%; margin-left: -100%;}
#genesis_3 #sidebar-right {width: 25%; margin-left: -100%;}

#genesis_3 .two-sidebars #sidebar-right {width:25%; margin-left: -75%;}


/**
 * #genesis_4
 * Golden Rule Layout 1:1.618, 2 columns, adaptive width.
 * 
 * NOTE: Please see docs on how to refactor page.tpl.php to
 * take full advantage of this layout.
 * |  Content 62%  |  Left/Right 38%  |
 */
#genesis_4 .two-sidebars  #content-column {margin-right: 38%; padding: 0 0.75em 0 0;}
#genesis_4 .sidebar-left  #content-column {margin-right: 38%; padding: 0 0.75em 0 0;}
#genesis_4 .sidebar-right #content-column {margin-right: 38%; padding: 0 0.75em 0 0;}

#genesis_4 #sidebar-left  {width: 38%; margin-left: -38%;}
#genesis_4 #sidebar-right {width: 38%; margin-left: -38%;}

#genesis_4 .sidebar-left #sidebar-left {width: 38%; margin-left: -38%;}


/***********************************************************
 *                    Containers
 **********************************************************/
/* Main containers*/
html, body {margin: 0; padding: 0;}

/* Automatic centering for widths less than 100% */
#container {margin: 0 auto;} 

/* Trigger hasLayout */
#columns {display: inline-block;}

/* Float the columns */
#columns-inner,
#sidebar-left,
#sidebar-right {float: left;}

/* Set width on main content column */
#columns-inner {width: 100%;}

/* Clear both */
.clear {clear: both;}