/* $Id: messages.css,v 1.1.2.6 2009/05/03 01:36:49 jmburnz Exp $ */

/**
 * @file messages.css
 * Basic styles for messages.
 */

/*********************************************************
*                   Messages
**********************************************************/
.description {
  color: #888;
}

div.messages {
  font-weight: normal; 
  margin: 1em 0; 
  padding: 0.5em;
}

div.messages ul {
  margin: 0 0 0 1.25em;
}

div.error {
  background: #FFEFF1 url(../images/error.gif) no-repeat 0.5em 0.5em;
  border: 1px solid #E41F0B;
  color: #E41F0B;
  padding-left: 2.4em;
}

tr.error {
  background: #FFEFF1;
  color: #E41F0B;
}

div.notice  {
  background: #FFF6BF; 
  border-color: #FFD324;
  color: #514721;
}

.error a, .notice a, .success a {
  text-decoration: underline;
}

div.status  {
  background: #ECEFE0 url(../images/status.gif) no-repeat 0.5em 0.5em;
  border: 1px solid #4DA449;
  color: #2A6827;
  padding-left: 2.4em;
}

div.help {
  background: #EFF7FF url(../images/info.gif) no-repeat 0.5em 0.5em;
  border: 1px solid #66BEF4;
  margin: 1em 0;
		color: #000D2F;
  padding: 0.5em 0.5em 0.5em 2.4em;
}

/* Warnings and OK messages */
div.warning {
  background: #FFF6DF url(../images/warning.gif) no-repeat 0.5em 0.5em;
  border: 1px solid #FFB900;
		color: #9F3800;
  padding: 0.5em 0.5em 0.5em 2.4em;
}
 
table tr.warning {
  background-color: #FFF6DF;
}

table tr.warning td {
  color: #9F3800;
}

table tr.warning.merge-up td {
  color: #514721;
}

div.error, 
tr.error, 
span.form-required, 
span.marker {}

.ok {}
div.ok {}

div.ok, tr.ok,
table tr.ok td {
  color: #222;
		padding: 1em 0.5em;
}

.update tr.ok {
  background: #EFFFEF;
}

.update .info {
  padding:0 0 0 1em;
}

.includes {color: #222;}
.includes em {}

.merge-down {}
.merge-up {}
/* CSS3 */
div.help p:last-child,
div.help ul:last-child {
  margin-bottom: 0;
}  

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid #E41F0B;
}

.form-item strong.error em {
  display: block; 
  font-weight: bold; 
  color: #E41F0B; 
  font-size: 1.2em;
}

.block-region {
		border: 1px dotted #000;
		color: #000;
		font: 1em 'andale mono', 'lucida console', monospace;
		padding: 3px 6px 1px
}

/* Highlight unpublished nodes and comments*/
.node-unpublished,
.comment-unpublished {
  background-color: #FFF6DF;
}

.unpublished {
  visibility: hidden;
}

.node-unpublished .unpublished,
.comment-unpublished .unpublished {
  background: transparent url(../images/warning.gif) no-repeat 0 0;
		color: #FFB900;
		font-size: 0.94em;
		margin-left: 0.5em; /* LTR */
		padding-left: 18px; /* LTR */
		visibility: visible;
}

/* Animated saving throbber */
#saving {
  font-size: 1em;
  font-weight: bold;
  background: url(../images/loading.gif) no-repeat 1em 0.08em;
  display: none;
  padding-left: 3em;
}

#saving p {
  margin: 0;
}

#saving-notice {
  font-size: 0.9em;
  font-style: italic;
  background: #FFC;
}

/**
 * Module page specific styles.
 */
.admin-dependencies, 
.admin-required,
.admin-enabled,
.admin-disabled,
.admin-missing {
  font-weight: bold;
}
