/* $Id: ie-example.css,v 1.1.2.1 2009/06/05 17:48:58 jmburnz Exp $ */

/**
 * @file ie-example.css
 *
 * Support for the Conditional Styles module. This module allows themes 
 * to specify conditional stylesheets in their .info file and the conditional 
 * comments will be automatically included at the end of the standard $styles variable. 
 * 
 * http://drupal.org/project/conditional_styles
 *
 * Install the module and then uncomment or add the required stylesheets in your 
 * subthemes .info file.
 */





