/* $Id: _all-lite.css,v 1.1.2.12 2009/05/12 13:51:10 jmburnz Exp $ */

/**
 * @file _all-lite.css
 * Genesis LITE modular stylesheets aggregated into one file.
 *
 * Includes an exact copy of the following stylesheets:
 *
 * style.css		
 * page.css
 * nodes.css		
 * comments.css		
 * blocks.css
 *	
 * USAGE
 * 1) Unset the mini stylesheets in genesis_LITE.info by commenting them out.
 * 2) Enable _all-lite.css by uncommenting it in genesis_LITE.info
 *
 * The file is useful for working around IE7's 30 max stylesheets issue
 * when you cannot turn on CSS aggregation in Performance settings.
 */

/**
 * @see style.css
 *
 * Use this file to override the Genesis core modular styles 
 * (such as the HTML elements in typography.css), module CSS 
 * and other Drupal styles. Anything that doesn't fit logically
 * into page.css, nodes.css, blocks.css or comments.css can go here.
 */
/**********************************************************
 *                    Body
 **********************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}


/**********************************************************
 *                 HTML Elements
 **********************************************************/

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* The main title on each page. */
h1#page-title {}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {
  margin: 0; 
  padding: 0;
}

a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
  border: none;
}


/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets (such as the nodes, blocks,
 * page and comments stylesheets).
 */








/**
 * @see page.css
 * This stylesheet provides the main page styles for this theme.
 */
/**********************************************************
 *                       Body
 **********************************************************/
body {}


/**********************************************************
 *              Section, Page and Body Classes
 **********************************************************/
/**
 * Normally you will use these in combination with other
 * selectors. I include them here for completedness.
 */
	
/** 
 * Section Class
 * The section class takes the 2nd part of the URL and
 * builds a section-[path-part] class from it. If you emulate
 * site sections using the Pathauto module this can be a 
 * powerful way to style site sections.
 */
/* .section-[path-part] {}  replace [path-part] */

/* Front or not front. */
.front {}
.not-front {}

/* Is the user logged in. */
.logged-in {}
.not-logged-in {}

/* Node type body classes */
.node-type-book  {}
.node-type-blog  {}
.node-type-forum {}
.node-type-page  {}
.node-type-poll  {}
.node-type-story {}

/**
 * Warning! 
 * The sidebar body classes are integral to how genesis
 * applies the layout - do not add margin, padding, borders,
 * or positioning styles to these classes! @see layout.css. 
 */
.one-sidebar   {}
.two-sidebars  {}
.sidebar-right {}
.sidebar-left  {}

/** 
 * Optional Region body classes
 * When any of the following regions are active a body class can be set.
 * To use you need to uncomment the conditional statements in 
 * genesis_preprocess_page(), @see template.php.
 */
/*
.leaderboard       {}
.header-blocks     {}
.secondary-content {}
.tertiary-content  {}
.footer            {}
*/          {}

/** 
 * Page Path Class
 * The page path class takes the entire URL and
 * builds a page-[path] class from it. See example
 * below. You need to use Firebug or view source to
 * find out what the actual class will be, and be aware
 * that this will change if your URL alias changes!
 */
/* .page-[example-node-path] {}  replace [example-node-path] */


/**********************************************************
 *                  The wrapper divs
	*    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * Elastic layouts are dynamic and will expand or contract when 
 * the font size is changed. Fluid widths change when the browser 
 * is resized and fixed width layouts stay the same width even 
 * when the broswer is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */
#container {
  width: 90%;
/* max-width: 1100px; set a maximum width */
/* min-width: 960px; set a minimum width */
}

/* Column wrappers */
#columns {}
#columns-inner {}

/* Content wrappers */
#content-column {}
#main-content {}
#content {}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions with this low specifity selector. */
.region {}

/**
 * Most regions have an .inner div to set paddings or other
 * design contingencies.
 */
 
/* Leaderboard is a full width region at the very top, 
   ideal for displaying banners. */
#leaderboard {}

/* Header blocks region is embedded in the header, 
   usefull for displaying small banners. */
#header-blocks {
  float: left;
  margin-left: 2em; /* LTR */
}

/* Secondary content is a full width region between 
   the header and the main columns. */
#secondary-content {}

/* Tertiary content is a full width region above the footer, 
   below the main content. */
#tertiary-content {}

/* Content top and bottom are above and below the main content, 
   within the main content column. */
#content-top {}
#content-bottom {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}

/* Target a specific sidebar, inner or sidebar-inner. */
#sidebar-left  {}
#sidebar-right {}


/**********************************************************
 *                   Skip navigation
 **********************************************************/
/**
 * To hide the skip-nav you can use:
 * height: 0; overflow: hidden;
 * Do not use display: none as this hides it from screen readers.
 */
#skip-nav {
  text-align: right;
}
#skip-nav a:focus {
  border: 1px solid #FFCC00;
  background: #FFFFCF;
}
#skip-nav a:link    {}
#skip-nav a:hover   {}
#skip-nav a:visited {}


/**********************************************************
 *                       Header 
 **********************************************************/
/**
 * #header-nav wraps #header and #nav.
 */
#header-nav {}

/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
  float: left;
}

/* Logo. */
#logo {}

/* h1 is for the front page only, all others use the div. */
h1#site-name,
div#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
}
div#site-name  {
  font-size: 2em;
  line-height: 1.5;
}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                        Search
 **********************************************************/
#search-theme-form {
  float:right;
}
#search-theme-form > div {}
#search-theme-form label {}
#search-theme-form input {}
#search-theme-form .form-item {}
#search-theme-form .form-submit {}

#edit-search-theme-form-1 {}
#edit-search-theme-form-1:hover,
#edit-search-theme-form-1:focus {}

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}

/* Search form on the results page, includes advanced search. */
.section-search .box {}
.section-search .box .title {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/**
 * #nav is the containing div for Primary & Secondary Links.
 */
#nav {
  clear: both; 
  margin: 0.75em 0;
}

/**
 * Primary Links Style
 * Example styles to get you started.
 */
.primary-links {
  background: #EEE; /* Default gray for dev only. */
  font-weight: bold;
}

/* Modify the margin to set tab spacings. */
.primary-links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

.primary-links li a {
  text-decoration: none;
  white-space: nowrap;
}

.primary-links .links li.active {}

.primary-links .links li a:hover {}
.primary-links .links li a.active {}
.primary-links .links li a.visited {}
.primary-links li a.active-trail {}

/* Primary first and last classes */
.primary-links li.first {}
.primary-links li.last {}

/* Set unique active-trail styles */
/* #primary ul.links li a.active-trail {} */


/**
 * Secondary Links Style
 */
.secondary-links {
  background: #F8F8F8; /* Default gray for dev only. */
  font-weight: bold;
}

/* Modify the margin to set tab spacings. */
.secondary-links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

.secondary-links li a {
  text-decoration: none;
  white-space: nowrap;
}

.secondary-links li.active {}

.secondary-links li a:hover  {}
.secondary-links li a.active {}
.secondary-links li a.visited {}
.secondary-links li a.active-trail {}

/* Secondary first and last classes */
.secondary-links li.first {}
.secondary-links li.last {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {
  margin: 0 0 0.75em;
}


/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  font-weight: bold;
  margin: 0 0 1.5em;
}


/**********************************************************
 *                    H1 Page Title
 **********************************************************/
/* The main title on each page. */
h1#page-title {}


/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
#footer {}
#footer-message {}

#footer a, 
#footer-message a {}


/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
.feed-icon {}
.feed-icon img {
  padding:0 0.5em;
}
#footer-message a.feed-icon {}


/**
 * @see nodes.css
 * Basic styles for nodes.
 */
/**********************************************************
 *                      Nodes
 **********************************************************/
.node {
  margin: 0 0 1.5em;
}

/* Node title on teasers and other lists. */
.node .title {}

.node .title a:link,
.node .title a:visited,
.node .title a:active {
  text-decoration: none;
}

.node .title a:hover {
  text-decoration: underline;
}

.node .user-picture {}

.node .submitted {}
.node .submitted a {}
.node .submitted a:hover {}

/* Node classes for node workflow states. */
.node-add    {}
.node-edit   {}
.node-delete {}
.node-preview  {}
.node-sticky   {}
.node-promoted {}

/* Node status. */
.node-unpublished {}

/* Theme the node teaser seperatly. */
.node-teaser {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-blog  {}
.node-page  {}
.node-story {}
.node-forum {}
.node-book  {}
.node-poll  {}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}


/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Imagefield field. */
.field-type-image {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}


/**
 * @file comments.css
 * Basic styles for comments.
 */
/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comments {}
#comments-title {}
	
.comment {
  margin: 0 0 1em; 
}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment .title {
  margin-bottom: 0;
}
.comment-id {}
.comment h3.title .new {
  color: #FF8000;
}

.comment .title a:link,
.comment .title a:visited,
.comment .title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {}
.comment .user-picture img {}

.comment .submitted {}
.comment .submitted a {}
.comment .submitted a:hover {}

/**
 * Comment Classes - extra classes to help out themers.
 */
/* Comment author. */
.comment-by-anonymous   {}
.comment-by-node-author {}
.comment-by-viewer      {}

/* Comment is new. */
.comment-new {}

/* Zebra odd/even classes. */
.comment.odd  {}
.comment.even {}

/* Comment status. */
.comment-unpublished {}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {}

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box .title {}

/* Comment form below content. */
#comments .box {}
#comments .box .title {}


/**
 * @see blocks.css
 * Basic styles for blocks.
 */
/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set here will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

/* Default node title. */
.block .title {}

/**
 * Sidebar and Region Specific Block Styles
 *
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

/* High specifity selectors to style blocks in one region. */
#leaderboard       .block {}
#header-blocks     .block {}
#secondary-content .block {}
#tertiary-content  .block {}
#content-top       .block {}
#content           .block {}
#content-bottom    .block {}
#footer            .block {}

/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
#block-book-0       {} /* Book navigation block   */
#block-blog-0       {} /* Recent Blog posts       */
#block-comment-0    {} /* Recent Comments block   */
#block-forum-0      {} /* Active Forum topics     */
#block-forum-1      {} /* New Forum topics        */
#block-locale-0     {} /* Language Switcher block */
#block-node-0       {} /* Syndicate block         */
#block-poll-0       {} /* Most recent poll        */
#block-profile-0    {} /* Author information      */
#block-search-0     {} /* Search form block       */
#block-statistics-0 {} /* Popular content         */
#block-system-0     {} /* Powered by Drupal       */
#block-user-0       {} /* Login block             */
#block-user-1       {} /* Navigation Menu block   */
#block-user-2       {} /* Who's New block         */
#block-user-3       {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-primary-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu {
  margin: 0 0 0 0.5em;
  padding: 0;
}

ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
  margin: 0;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
}

/* Override Drupal default bullet gifs with a CSS Sprite */
ul.menu li {
  background: none;
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0.35em 0 0 1em; /* LTR */
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {
  background: transparent url(../images/menu-sprite.gif) no-repeat;
}

ul.menu li.collapsed {
  background-position: 0 -45px; /* LTR */
}

ul.menu li.expanded {
  background-position: -43px -84px; /* LTR */
}

ul.menu li.leaf {
  background-position: 0 0; /* LTR */
}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block lists
 **********************************************************/
.block .item-list ul {
  margin: 0;
}

.block .item-list ul li {}



