/* $Id: comments.css,v 1.1.2.6 2009/05/03 22:21:11 jmburnz Exp $ */

/**
 * @file comments.css
 * Basic styles for comments.
 */

/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comments {}
#comments-title {}
	
.comment {
  margin: 0 0 1em; 
}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment .title {
  margin-bottom: 0;
}
.comment-id {}
.comment h3.title .new {
  color: #FF8000;
}

.comment .title a:link,
.comment .title a:visited,
.comment .title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {}
.comment .user-picture img {}

.comment .submitted {}
.comment .submitted a {}
.comment .submitted a:hover {}

/* Zebra styles for comments. */
.comment.odd  {}
.comment.even {}

/* Style comments depending on the comment author. */
.comment-by-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box .title {}

/* Comment form below content. */
#comments .box {}
#comments .box .title {}
